body{
	margin: 0;
	background-size: cover;	
	background-color: #4699da;
	font-family: 'Press Start 2P', cursive;
	color: black;

}
#defaultCanvas0 {
	width: 100%;

    margin-left: 0;
    margin-right: 0;
    margin-top: auto;
    margin-bottom: 0;
    display: block;
    background-image: url("universe-backgrounds-11.jpg");
  	background-size: 100% 100%;
}

#aster-input1{
	position: absolute;
	top: 15px;
	right: 100px;
	height: 2%;

}

#calculateAster{
	position: absolute;
	top: 50px;
	right: 12px;
	height: 2%;
}